*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    
}

/* ------------------------- navbar-------------------- */
.nav-list{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 400px;
}
.nav-list li{
    text-decoration: none;
    list-style: none;
    
}
.my-Module-brand a{
    text-decoration: none;
    color: #fff;
    font-size:2rem ;
    padding: 20px 20px 0px 10px;
    margin:0px 10px 0 50px;
    font-weight: 700;
    
}

.nav-list a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 20px 20px 20px 10px;
}
.nav-list a:hover{
    background-color: #1ea1bc;
    
    
}

header{
    background: linear-gradient(215deg,#1ea1bc,#13469f,#020024);
    background: linear-gradient(24deg, #020024 -10%, #1ea1bc -10%, #020024);
}

.Nav-Modules{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    padding: 10px 0; 
    /* max-width: 1200px; */
    margin: 0 0;
    
}
.toggle-btn i{
    font-size: 1.2rem;
    padding: 2px 14px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    display: none;
    transition: scale 0.2 ease ;
}

.toggle-btn i:active{
 scale: 0.95;
 border: 4px solid #000;
}

.rotate-up {
    transform: rotate(180deg);
    border: 4px solid #000;
  }
.dropdown-menu{
    display: none;
    width: 100%;
    border: none;
}

.dropdown-menu li{
    /* background-color: #000; */
    
    width: 100%;
}
.dropdown-menu a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    color: #000;
    width: 100%;
    padding:10px 0 10px 20px;
    font-size: 1.1rem;
    
}
.dropdown-menu a:hover{
background-color: #000;
color: #fff;
width: 100%;
}
@media (max-width:992px){
    .nav-list{
        display: none;
    }
    .my-Module-brand a{
        margin:0px 10px 0 10px;
        
    }
    .toggle-btn{
        margin-right: 0.8rem;
    }
    .toggle-btn i{
        display: block;

    }
}
/* ----------------------------------------------------------------------- */
.header-card{
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(215deg,#1ea1bc,#13469f,#020024);
    background: linear-gradient(24deg, #020024 50%, #1ea1bc 20%, #020024);
    min-height: 80vh;
}
.header-card-text{
    margin: 200px 0 0 70px;
}
.header-card-text h1{
    color: white;
    font-size: 50px;

}
/* .header-card-text h2{
    color: #073480;
    position: relative;
    font-size: 40px; */
    /* -webkit-text-stroke: 0.3vw #383d52; */
    /* text-transform: uppercase;
}

.header-card-text h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #1ea1bc; */
    /* -webkit-text-stroke: 0vw #383d52; */
    /* border-right: 8px solid  #1ea1bc;
    overflow: hidden;
    animation: animate 1.5s linear infinite;
}

@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,100% 
    {
        width: 103%;
    }
} */



.header-img img{
    position: relative;
    z-index: 3;
}

.header-card{
    display: flex;
    flex-direction: row;
}


.header-card-text p{
    width: 100%;
    color: #fff;
    
}
.button-container{
    padding: 20px 0;
}
.button-container a{
    text-decoration: none;
    border: 1px solid #1ea1bc;
    border-radius: 40px;
    font-weight: 700;
    color: #fff;
    padding: 8px 20px;
    margin-right: 20px;
}
.button-container a:hover{
    background-color:rgb(21, 52, 88) ;
    color: #fff;
}



.slider-thumb::before {
    position: absolute;
    content: "";
    left: 47%;
    top: 18%;
    width: 550px;
    height: 500px;
    background: #fdcd3b 60%;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 50s linear infinite;
    display: block;
    z-index: 2;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }



  /*---------------------------------------------------------------------------------------------*/

.wrapper {
    display: flex;
}

    .wrapper .static-txt {
        color: #fff;
        font-size: 50px;
        font-weight: 400;
    }

    .wrapper .dynamic-txts {
        margin-left: 0px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
    }

.dynamic-txts li {
    list-style: none;
    color: #1ea1bc;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 0px 0;
    line-height: 90px;
}

    .dynamic-txts li span::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        height: 100%;
        width: 100%;
        background: #020024;
        border-left: 3px solid #1ea1bc;
        animation: typing 3s steps(10) infinite;
    }

@keyframes typing {
    40%, 60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

@media only screen and (max-width:650px){
    .header-card{
        display: flex;
        /* background-color: rgb(0, 0, 0); */
        background: linear-gradient(215deg,#1ea1bc,#13469f,#020024);
        background: linear-gradient(24deg, #020024 50%, #1ea1bc 20%, #020024);
        min-height: 80vh;
    }

    .header-card-text{
        margin: 160px 0 0 20px;
    }
    .header-card-text h1{
        color: white;
        font-size: 50px;
    
    }
    .header-card-text p{
        width: 100%;
        color: #fff;
        font-size: 18px;
        padding-right: 10px;
    }
    .button-container{
        padding: 20px 0 50px 0;
    }
    .header-card{
        display: flex;
        flex-direction: column-reverse;
    }
    .header-img img{
        margin-top: 50px;
        width: 100%;
        height: 60%;
    }
    .slider-thumb::before {
        position: absolute;
        content: "";
        left: 5%;
        top: 15%;
        width: 380px;
        height: 350px;
        
      }
}

@media only screen and (max-width:400px){
    .header-card{
        display: flex;
        /* background-color: rgb(0, 0, 0); */
        background: linear-gradient(215deg,#1ea1bc,#13469f,#020024);
        background: linear-gradient(24deg, #020024 50%, #1ea1bc 20%, #020024);
        min-height: 80vh;
    }

    .header-card-text{
        margin: 160px 0 0 20px;
    }
    .header-card-text h1{
        color: white;
        font-size: 35px;
    
    }
    .header-card-text p{
        width: 100%;
        color: #fff;
        font-size: 18px;
        padding-right: 10px;
    }
    .button-container{
        padding: 20px 0 50px 0;
    }
    .header-card{
        display: flex;
        flex-direction: column-reverse;
    }
    .header-img img{
        margin-top: 50px;
        width: 100%;
        height: 60%;
    }
    .slider-thumb::before {
        position: absolute;
        content: "";
        left: 5%;
        top: 15%;
        width: 330px;
        height: 300px;
        
      }
      .wrapper .static-txt {
        font-size: 50px;
    }
      .dynamic-txts li {
        font-size: 30px;
    }
}